# Dependencies
/vendor/
node_modules/

# Composer
composer.lock

# PHPUnit
.phpunit.result.cache

# PHPStan
.phpstan/


# IDE and Editor files
.idea/
.DS_Store
Thumbs.db

# Test applications
app-test/
